@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación para el toast de navegación hacia atrás */
@keyframes slide-up {
  from {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

/* Opcional: animación de salida */
@keyframes slide-down {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
}



.animate-slide-down {
  animation: slide-down 0.3s ease-in forwards;
}